# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py
media/
staticfiles/

# If you use Django's collectstatic:
static/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Node (si usas npm/yarn para frontend)
node_modules/
package-lock.json
yarn.lock

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Git
.git/

# Pytest
.pytest_cache/

# Migrations (opcional, si no quieres subirlas)
# **Ten cuidado con esto si trabajas en equipo**
# */migrations/
# !*/migrations/__init__.py
